<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default option" {{action "optionSelected" 14.99 this}}>
    <input type="radio" name="options" id="option1" autocomplete="off" checked> <span class="secondary">$</span>15<span class="secondary">/ call</span>
    <p class="explanation">
      You will talk for 5-10 minutes
    </p>
  </label>
  <label class="btn btn-default option option-best active" {{action "optionSelected" 29.99 this}}>
    <input type="radio" name="options" id="option2" autocomplete="off"> <span class="secondary">$</span>29<span class="secondary">/ call</span>
    <p>
      Best Deal
    </p>
    <p class="explanation">
      You will talk for 10-20 minutes
    </p>
  </label>
  <label class="btn btn-default option" {{action "optionSelected" 44.99 this}}>
    <input type="radio" name="options" id="option3" autocomplete="off"> <span class="secondary">$</span>39<span class="secondary">/ call</span>
    <p class="explanation">
      You will talk for 20+ minutes
    </p>
  </label>
</div>
{{yield}}
