<div class="col-sm-12 ask-keen-content">
  {{#unless model.isOfferSubmitted}}
      <div class="text-center">
        <h1 class="margin-bottom">Make your offer:</h1>
        {{select-one-of-3 offerSelected='onOfferSelected'}}
      </div>

  {{else}}
      <div class="text-center">
          <h1 class="margin-bottom">Offer you chose: ${{userOfferPrice}}</h1>
          <h4 class="secondary"> <img src="/images/spinner.gif" class="spinner"/> &nbsp; Negotiating with our advisors (Real Time!)</h4><br/>
      </div>
    {{#if model.anyAdvisorResponsePresent}}
        <h3 class="secondary">Responses from our advisors:</h3>
        <br/>
        <ul class="media-list advisor-message-list">
          {{#each response in model.responseFromAdvisors}}
            {{advisor-info advisorInfo=response userId=model.userId offerPrice=model.userOfferPrice}}
              <br/>
          {{/each}}
        </ul>
    {{/if}}
  {{/unless}}
</div>


<!-- TODO: HTML content for emailid-->
