.advisor-info {

  .advisor-image {
    width: 75px;
    height: 75px;
  }

  .advisor-name {
    text-transform: capitalize;
  }

  .price-section{
    margin-top: 15px;
  }

  .price{
    margin-top: 0px;
    font-size: 26px;
  }

  .striked-price{
    margin-top: 0px;
    text-decoration: line-through;
  }

  .advisor-long-desc {
    color: lighten(grey, 20%);;
  }

}
