@import "variables";
.advisor-info {
  padding: 15px;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: $hover-bg-color;

    .advisor-long-desc {
      color: #333;
    }

    
  }
  .advisor-image {
    width: 75px;
    height: 75px;
  }
  .advisor-name {
    text-transform: capitalize;
  }
  .price-section {
    margin-top: 15px;
  }
  .price {
    margin-top: 0;
    font-size: 26px;
  }
  .striked-price {
    margin-top: 0;
    text-decoration: line-through;
  }
  .advisor-long-desc {
    color: lighten(grey, 20%);
  }
  .margin-bot {
    margin-bottom: 10px;
  }
}
