@import "variables";
.advisor-info {
  padding: 15px;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: $hover-bg-color;

    .advisor-long-desc {
      color: #333;
    }


  }
  .advisor-image {
    width: 75px;
    height: 75px;
  }
  .advisor-name {
    text-transform: capitalize;
  }
  .price-section {
    // margin-top: 15px;
  }
  .minutes {
    margin-top: 0;
    font-size: 36px;
    font-weight: 700;
  }
  .price {
    margin-top: 0;
    padding-bottom: 20px;
    font-size: 26px;
  }

  .price-per-min {
    margin-right: 10px;
    font-size: 26px;
  }
  .secondary {
    font-size: 18px;
  }
  .sub-price {

  }
  .striked-price {
    // margin-left: 5px;
    font-size: 26px;

    text-decoration: line-through;
    color: $brand-warning;
  }
  .advisor-long-desc {
    color: lighten(grey, 20%);
  }
  .margin-bot {
    margin-bottom: 10px;
  }
}
